.grad  {
    width: 100%;
    height: 20%;
    padding: 1em;
    margin: 0;
    background-color: rgb(249,177,130);
    background-image: linear-gradient(180deg, rgb(249,177,130), rgba(252,225,189,255),rgba(240,240,240,255));
}

.strap {
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: rgba(251,171,126,255);
    bottom: 5%;
    align-items: center;
    display: flex;
    
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(240,240,240,255);

}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.menu {
  padding-left: 10%;
  padding-right: 10%;
  color: rgba(63,61,86,255);
  font-size: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
  line-height: 0.7;
  max-width: 100%;
  max-height: 100%;
  -webkit-border-image: url(../../img/svg/cooking.svg);
  background-image: url(../../img/svg/cooking.svg);
  background-repeat:no-repeat;
  background-position: right;
  margin-left: 3em;
}



#email-holder {
  font-size: 1.1em;
  border-radius: 8px;
  border-color: transparent;
  box-shadow: 1px 3px #aeacac;
  opacity: 0.4;
  padding: 8px;
}

button{
  font-size: 1.1em;
  color: white;
  background-color: rgba(251,171,126,255);
  border-radius: 8px;
  border-color: transparent;
  box-shadow: 1px 3px #aeacac;
  padding: 5px;
}

#cooking{
  display: inline;
  flex: right;
  background-color: transparent;
  flex: left; 
  display: block;
  justify-content: flex-end;
}





.image {
    width: 40%;
    border-image: url(border.png) 25 25 round;
    
}

.image_strap {
    padding: 45px;
    justify-content: space-around;
    
}
#trending{
    height: 210px; 
    width: 160px; 
    margin-bottom: -30px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(143, 143, 143);
}



.container{

  clear:both;
  overflow:auto;
  padding: 2em;
  background-color: rgb(249,177,130);
  color: white;
  
}

nav{

  float:right;
  color: white;
}

.logo img{float:left;}

ul li{
  display: inline-block; 
  padding:1em;
  font-size:20px;


}

ul li:hover{
  color: white;
  border-bottom: 5px solid transparent;
  
}




